body {
  margin: 0;
  background: #1d2d3a;
  color: #aab8c5;
  align-items: flex-start;
  justify-content: center;
}

.matter {
  line-height: 20px;
}

.middle-box {
  width: 310px;
  height: 500px;
  max-width: 400px;
  margin: 5% auto;
  background: #1d2d3a;
  text-align: center;
}

.logo-container {
  margin-bottom: 16px;
}

.logo {
  max-width: 120px;
  margin: 0 10px;
}

h3 {
  margin-bottom: 15px;
}

.login-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  background-color: #233545;
  color: #aab8c5;
  width: 100%;
  padding: 8px 10px;
  font-size: 14px;
  border: 0px solid #aab8c5;
  outline: none;
  box-sizing: border-box;
}

.form-control:focus {
  border: 1px solid;
  border-color: #1ab394;
}

.btn {
  display: inline-block;
  padding: 6px 15px;
  width: 100%;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
  text-decoration: none;
  text-align: center;
}

.btn-primary {
  background-color: #1ab394;
  color: white;
  border: none;
}

.btn-primary:hover {
  background-color: #18a689;
}

.btn-secondary {
  background-color: #2d4052;
  color: #aab8c5;
  margin-top: 10px;
  width: 89%;
}

.btn-secondary:hover {
  color: black;
}

.forgot-password {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: #76d1bf;
}

.forgot-password:hover {
  color: #666;
}

.text-muted {
  margin: 5px 0 5px;
  color: #999;
}

.footer {
  margin-top: 20px;
  font-size: 12px;
  color: #aaa;
}
